
#mainNav {
  background-color: black;
}

#jeju-map {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 500px; /* Full height */
    overflow: auto;
}


form.navbar-form {
  display: flex;
}

div.container > nav {
  margin-top: 57px;
}

nav > div > div > a.navbar-brand {
  font-size: 25px;
}

nav > div > ul > li {
  margin: 10px;
}

nav > div > ul > li > a {
  font-size: 25px;
}

dt {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  font-size: 28px;
}

dt > button {
  width: 40px;
  height: 40px;
}

dt > button > img {
  max-width: 40px;
  max-height: 40px;
  margin: -10px 0 0 -8px;
}

dl > ul > li {
  font-size: 20px;
}

.announce {
  width: 100%;
  height: 150px;
}

.recommend {
  padding-top: 20px;
}

.recommend > div {
  margin-top: 90px;
  margin-bottom: 30px;
  padding-top: 10px;

  width: 100%;
  height: 180px;
}
